<router-ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
    <ospf>
        <process-id xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0" nc:operation="replace">
            <id>1</id>
            <auto-cost>
                <reference-bandwidth>200000</reference-bandwidth>
            </auto-cost>
            <mpls>
                <ldp>
                    <autoconfig/>
                </ldp>
            </mpls>
            <passive-interface>
                <default>true</default>
            </passive-interface>
            <router-id>{{ host["Loopback0"] }}</router-id>
        </process-id>
    </ospf>
</router-ospf>