<router-ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
    <ospf>
        <process-id>
            <id>1</id>
            <area>
                <area-id>0</area-id>
                <authentication>
                    <message-digest/>
                </authentication>
            </area>
            <auto-cost>
                <reference-bandwidth>200000</reference-bandwidth>
            </auto-cost>
            <mpls>
                <ldp>
                    <autoconfig/>
                </ldp>
            </mpls>
            <passive-interface>
                <default>true</default>
            </passive-interface>
            <router-id>{{ host["Loopback0"] }}</router-id>
        </process-id>
    </ospf>
</router-ospf>